.form-control{
    font-size:18px;
}

.info-box .content .text{
    font-size:24px;
    padding-top:5px;
}

#addArticle:hover{
    cursor: pointer;
}

#addCategory:hover{
    cursor: pointer;
}

#seeAllArticles:hover{
    cursor: pointer;
}
#seeAllCategories:hover{
    cursor: pointer;
}

#addAnother:hover{
    cursor: pointer;
}

.show-tick{
    font-size:16px;
}